body{
	background:rgb(23,123,43);
	font-family:Arial;
	margin:0;
	padding:0;
	
}


#main{
	display:flex;
	justify-content:space-evenly;
	align-items:center;	
	margin:2rem;		
}

@media(max-width:600px){
	#main{
		flex-direction:column;
		align-items:center;
		justify-content:space-between;
	}
}

#heading{
	font-size:6rem;
	text-align:center;
	font-family:Arial,san-serif;
	color:wheat;
}

.container{
	height:35rem;
	width:35rem;
	border:1px solid black;
	background:white;
	margin-left:1rem;
}



.grid-items{
	border:none;
}

.btn{
	padding:1rem;
	width:15rem;
	height:3rem;
	font-size:1.25rem;
	font-weight:bold;
	background:white;
	color:black;
	border-radius:20px;
	border:none;
	cursor:pointer;
	display:block;
	margin-top:2rem;
}

#color{
	width:5rem;
	height:5rem;
	display:block;
	margin:0 auto;
	
}

.btn:hover{
	transform:scale(1.025,1.025);
}


.btn-select:focus{
	background:black;
	color:white;
	
}

#grid-box{
	height:3rem;
}
#grid-size{
	width:14rem;
	display:block;
}

#grid-text{
	text-align:center;
	font-size:1.5rem;
	font-weight:bold;
	color:white;
}

#footer{
	background: rgba(22,142,42,0.75);
	height:5vh;
	color:white;
	font-size:1rem;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-bottom:0;
}
